{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Habel's 7th Story</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/home.js' %}"></script>



</head>


<body>
    <div id = "atas">
        <h1> Habel's 7th Story</h1>
        <h2> Want to Change the Theme?</h2>
        <div class = "hide" >
            <button type="button" class="btn btn-light" id="putih">Light-mode</button>
        </div>
        <button type="button" class="btn btn-dark" id="item">Dark-mode</button>
    </div>


    
    <div id="accordion" style="margin-top: 50px;">
    <h3 class = "kepala" >Aktivitas Saat Ini</h3>
    <div class = "isi">
        <ul>
        <li>Mahasiswa Fasilkom 2018</li>
        <li>Tidur</li>
        <li>Main</li>
        <li>Makan</li>
        <li>Belajar</li>
        </ul>
    </div>
    <h3 class = "kepala" >Pengalaman Organisasi / Kepanitiaan</h3>
    <div class = "isi">
        <ul>
            <li>PIC Ticketing Tarsat Cup XII</li>
            <li>Wakil Ketua OSIS SMP Tarakanita 1 2013/2014</li>
            <li>Staff Keamanan Sparctix 8</li>
            <li>Staff Sponsorship CGT 2019</li>
            <li>Staff ENS Compfest 2019</li>
        </ul>
    </div>
    <h3 class = "kepala" >Prestasi</h3>
    <div class = "isi">
    <ul>
        <li>
            Juara 1 Futsal Putra Tarsat Cup XII
        </li>
    </ul>
    </div>
    </div>
 
 
</body>
</html>